@charset "UFT-8";

@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

body {
    background-color: rgb(10, 7, 7);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(11, 0, 132);
    color: white;
    height: 90%;
    width: 80%;
    box-shadow: inset 0px 0px 15px rgb(1, 0, 17);
    padding: 0px 10px;    
}

.container h1 {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 15px rgb(1, 0, 16);
    padding: 15px;
    margin: 30px auto;
    text-align: center;
}

.paragrafos {
    background-color: darkslategray;
    height: 650px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    border-radius: 5px;
}

.paragrafos p {
    margin-bottom: 20px;
    line-height: 30px;
    text-indent: 30px;
    color: #8f8d8d;
    padding: 10px;
    border-radius: 3px;
}