@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --cor001: rgb(40, 38, 38);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    background-color: var(--cor001);
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 600px;   
    padding: 20px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;

    background-color: aquamarine;
}

.container p, h1 {
    text-align: justify;
}

legend {
    font-size: large;
    font-weight: bold;
}

fieldset {
    border-radius: 5px;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 18px;
    height: 35px;
    padding: 0 10px;
    border-radius: 10px;
    border: none;
}

form input:focus {
    outline: 2px solid var(--cor001);
    border: none;
}

form button {
    border: none;
    background-color: var(--cor001);
    color: #fff;
    font-size: 18px;
    padding: 10px 0px;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;
    margin-top: 20px;
}

form button:hover{
    background-color: rgb(19, 18, 18);
}

form button:active{
    background-color: rgb(255, 0, 0);
}

form label {
    font-weight: bold;
}

